{% extends "bases/boxed_page.twig" %}
{% from "macros.twig" import button, checkbox, item, search %}
{% block content %}

<div class="banner">
    <video class="introvideo" controls src="media/bees.mp4">
    </video>
    <div class="banner-text">
        <div class="brand banner-brand">Borrow<span>Bees</span></div>
        <div>Sharing is Caring!</div>
        <div class="form-buttons">
        {{ button("Login", "/login", false) }}
        {{ button("Sign Up", "/register", true) }}
        </div>
    </div>   
</div>

<div class="item-row">
    {{item("http://placekitten.com/200/100","Title",5,"Descriptionnnnnnnnnnnnnnnnnnnnnnnnnnnn")}}
    {{item()}}
    {{item()}}
</div>
<div class="item-row">
    {{item()}}
    {{item()}}
    {{item()}}
</div>
<div class="item-row">
    {{item()}}
    {{item()}}
    {{item()}}
</div>
{{search()}}
<div class="item-row">
    {{item()}}
    {{item()}}
    {{item()}}
</div>
<div class="item-row">
    {{item()}}
    {{item()}}
    {{item()}}
</div>
{{search("#E3B505")}}
<div class="item-row">
    {{item("http://placekitten.com/200/100","Title",5,"Descriptionnnnnnnnnnnnnnnnnnnnnnnnnnnn")}}
    {{item()}}
    {{item()}}
</div>
<div class="item-row">
    {{item()}}
    {{item()}}
    {{item()}}
</div>
<div class="item-row">
    {{item()}}
    {{item()}}
    {{item()}}
</div>
{{search()}}
<div class="item-row">
    {{item()}}
    {{item()}}
    {{item()}}
</div>
{% endblock %}